.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

.breadcrumb {
    font-family: 'Martian Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    text-decoration: unset;
}

.breadcrumb:hover {
    opacity: 0.8;
}

.breadcrumbActive {
    opacity: 1;
}

.breadcrumbActive:hover {
    opacity: 1;
    cursor: default;
}

.separator {
    font-family: 'Martian Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 5px;
}